extends layout
block content
     h1 
       center My Tasks
     form(action="/completetask", method="post")
      table.table.table-striped.table-bordered
         tr
           td 
             b Name
           td 
             b Category
           td 
             b Date
           td 
             b Complete
         if (typeof tasks === "undefined")
           tr
             td
         else
           each task in tasks
             tr
               td #{task.name}
               br
               td #{task.category}
               - var date  = new Date(task.date);
               - var day   = date.getDate();
               - var month = date.getMonth() + 1;
               - var year  = date.getFullYear();
               td #{month + "/" + day + "/" + year}
               td
                if(task.completed) 
                 input(type="checkbox", name="#{task.id}", value="#{!task.completed}", checked=task.completed)
                else
                 input(type="checkbox", name="#{task.id}", value="#{!task.completed}", checked=task.completed)
       button.btn.btn-primary(type="submit") Update tasks
     hr
     form.well(action="/addtask", method="post")
       label Item Name: 
           input(name="name", type="textbox", placeholder="Insert activity...")
       br
       br
       label Item Category: 
           input(name="category", type="textbox", placeholder="Insert category...")
       br
       br
       button.btn(type="submit") Add item
  